

<div class="jumbotron">
    <div class="container">
        <div class="col-sm-8 col-sm-offset-2">
          <h2> PlacementSeason </h2>
        </div>
    </div>
</div>

<div id="signin">
  <form method="get">
    USERNAME<br>
    <input class="input" type="text" name="username"><br><br>
    
    PASSWORD<br>
    <input class="input" type="password" name="password"><br><br><br>

    <a routerLink="/home" routerLinkActive="Active"><input class="button" type="submit" value="SIGN IN"></a>
    <input class="button" type="reset" value="RESET">    
  </form>
</div>